
body {
    background-color: cornflowerblue;
    color: rgb(109, 1, 1);
}

.heading {
    width: 80%;
    font-size: 25px;
}

.name_of_objects {
    color: yellow;
}

#camera,#result {
    border: 2px solid black;
    width: 350px;
    height: 300px;
}

#result_object_name,#result_object_accuracy {
    color: yellow;
}